@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
  font-family: 'Poppins', sans-serif;
  background-image: url(./weatherimagefile/cloudyweatherbackground.jpeg);
  background-repeat: none;
}

.homepagesearch{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 10vh;
   margin-bottom: 50px;
}

#search-input, #search-button {
    /* width: 60px; */
}

.dayname{
    font-size: 5px;
}
.weather-container {
    border-radius: 15px 15px 15px 15px;
    min-height: 30px;
    display: flex;
    color: white;
    font-size: 25px;
    background: linear-gradient(to top, rgb(203, 203, 255), rgb(176, 176, 221));

}

.weather-card {
  display: grid;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px ;
  position: relative;
  height: 450px;
  width: 250px;
  color: black;
  font-size: 13px;
  /* justify-content: center; */
 justify-items: center ;
 background: linear-gradient(to top, rgb(151, 151, 246), rgb(234,255,253));
}

/* input, h1{
    text-transform: capitalize;
} */
input{
      border: none;
      border-radius: 15px 15px 15px 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      padding-left: 105px;
      width: 300px;
      color: black;
    
}
input:focus{
    outline: none;
}
button{
    background: linear-gradient(to top, rgb(151, 151, 246), rgb(234, 255, 253) );
    border: 0px;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 300px;
    color: white;
   padding: 1rem;

}
button:hover{
    cursor: pointer;
    background: white;
    color: black;}
